.home-nav {
  text-align: center;
  padding: 10px;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.home-nav li {
  float: left;
  list-style: none;
  margin: 0px;
  padding: 2px 20px;
  color: var(--color-white);
}

.home-nav a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-white);
  font-size: 20px;
  font-weight: bold;
}

.home-nav a:hover {
  text-decoration: underline;
}
.header-logo {
  height: 20px;
  width: 100px;
  background-image: url("./logo.png");
  background-position: center;
  background-size: cover;
}
.links-search {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
}
.home-nav input {
  background: var(--color-white);
  color: var(--color-black);
  border: none;
  padding: 5px;
  font-weight: bold;
}
